#controls {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  height: 50px;

  .item {
    padding: 5px;
  }

  span {
    min-width: 120px;
    text-align: center;
  }

  a {
    text-decoration: none;
    font-size: 12px;
    border: 1px solid;
    border-radius: 2px;
    margin: 0 8px;
    width: 50px;
    text-align: center;
    color: #336699;
    height: 15px;
    transition: all .15s ease-in-out;

    &:hover {
      color: #fff;
      background: #336699;
      border-color: #336699;
      transition: all .3s ease-in-out;
    }
  }
}